$basic-font: 'Poiret One';
body{
    font-family: $basic-font;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}
.drop_down{
    display: none;
    position: absolute;
    top: 130px;
    left: 100px;
    z-index: 2;
    width: 160px;
    margin: 0 auto;
    font-size: 25px;
    background-color: grey;
    border: solid 1px rgb(167, 173, 165);
    padding: 20px;
    opacity: 0.9;
    p{
        text-align: left;
        a{
            color: #ffffff;
        }
    }
}
header{
    div{
        text-align: center;
        padding: 0 0 0;
        @media only screen and (max-width: 420px){
            padding: 5px 0 5px;
        }
    }
}
.main_logo{
    max-width: 50%;
    margin: 0 auto;
    @media only screen and (max-width: 420px){
     max-width: 75%;
    }
    img{
        width: 100%;
        height: auto;
        margin-right: -4%;
    }
}
.navigation{
    text-align: center;
    @media only screen and (max-width: 420px){
        margin-bottom: 20px;
    }
    .mob_menu{
        display: none;
        color:gray;
        i{margin: 10px;}
        span{font-size: 25px; font-weight: bold;}

        @media only screen and (max-width: 420px){
            display: inline;
        }
    }
    ol{
        @media only screen and (max-width: 420px){
            display: none;
        }
        list-style-type: none;
        li{
            font-family: $basic-font;
            display: inline-block;
            margin: 10px 20px;
            font-size: 25px;
            font-weight: bold;

            a{
                color: black;
                text-decoration: none;
            }
            a:hover{
                color: #A6A6A6;
            }
        }
    }
}
